/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#rgbValue, #hslaValue {
    float: right;
}

.container {
    overflow: auto;
}

#showPicker {
    float: left;
}

.colorPicker {
    background: #E8E6E0;
    border: 1px solid #BBB;
    -moz-border-radius: .3em;
    border-radius: .3em;
    margin: 1em;
    display: inline-block;
}

.colorPicker .extras {
    float: right;
    margin: 0.5em;
}

.colorPicker .extras .currentColorContainer {
    overflow: hidden;
}

.colorPicker .extras .currentColor {
    float: right;
    width: 65px;
    height: 30px;
    border: 1px solid #BBB;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.colorPicker .extras .colorFields {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.colorPicker .extras .color {
    text-align: right;
}

.colorPicker .extras .colorFields input {
    width: 40px;
    margin-left: 0.5em;
}

.colorPicker .extras .hex {
    float: right;
}

.colorPicker .extras .hex input {
    width: 60px;
}

.colorPicker .twod {
    float: left;
    margin: 0.5em;
}

/* main dimensions */
.colorPicker .twod, .colorPicker .twod .bg {
    width: 240px;
    height: 240px;
}
.colorPicker .oned, .colorPicker .oned .bg {
    height: 240px;
}
.colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
    width: 20px;
}

.colorPicker .twod .bg {
    position: absolute;

    /* These seem to cause issues in some browsers, careful!
    border: 1px solid #BBB;
    -moz-border-radius: .3em;
    border-radius: .3em;
    */
}
.colorPicker .twod .pointer {
    position: relative;
    z-index: 2;
    width: 8px;
}
.colorPicker .twod .pointer .shape {
    position: absolute;
}
.colorPicker .twod .pointer .shape1 {
    margin-left: -7px;
    margin-top: -7px;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.colorPicker .twod .pointer .shape2 {
    margin-left: -6px;
    margin-top: -6px;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.colorPicker .oned {
    float: left;
    margin: 0.5em;
}

.colorPicker .oned .bg {
    border: 1px solid #BBB;
    /*
    -moz-border-radius: .3em;
    border-radius: .3em;
    */
}
.colorPicker .oned .pointer {
    position: relative;
    z-index: 2;
}
.colorPicker .oned .pointer .shape {
    position: absolute;
    margin-left: -1px;
    margin-top: -4px;
    height: 5px;
    border: 2px solid black;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* gradients, tweak as needed based on which browsers you want to support */
.colorPicker .oned .bg {
    background: -moz-linear-gradient(top,  #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(17%,#ffff00), color-stop(33%,#00ff00), color-stop(50%,#00ffff), color-stop(66%,#0000ff), color-stop(83%,#ff00ff), color-stop(100%,#ff0000));
    background: -webkit-linear-gradient(top,  #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
    background: -o-linear-gradient(top,  #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
    background: linear-gradient(to bottom,  #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
}

.colorPicker .twod .bg1 {
    z-index: 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.colorPicker .twod .bg2 {
    z-index: 1;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

#hslPicker .twod .bg1 {
    background: -moz-linear-gradient(left,  #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(17%,#ffff00), color-stop(33%,#00ff00), color-stop(50%,#00ffff), color-stop(66%,#0000ff), color-stop(83%,#ff00ff), color-stop(100%,#ff0000));
    background: -webkit-linear-gradient(left, #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
    background: -o-linear-gradient(left, #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
    background: linear-gradient(to right, #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
}

#hslPicker .twod .bg2 {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(127,127,127,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(127,127,127,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(127,127,127,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(127,127,127,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(127,127,127,1) 100%);
}

#hslPicker .oned .bg {
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,0),rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
}

#hslPicker .extras {
    width: 100px;
}

#hslPicker .oned.alpha {
    margin: 0;
}

#hslPicker .oned.alpha .bg {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
}

html, body {
  height: 100vh;
  width: 100vw;
  min-width: 1280px;
  min-height: 800px; }

body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  background-size: 95%; }

.title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  order: 1;
  padding: 20px;
  align-self: flex-start; }

.current {
  margin: 60px 0 80px 0;
  order: 2; }

.current .color {
  width: 1000px;
  height: 100px;
  border: 1px solid #111; }

.current .detail-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.current .info {
  color: #444;
  font-size: 24px;
  line-height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 100%; }

.current .info .hex {
  flex: 1 auto;
  order: 1; }

.current .info .rgb {
  flex: 1 auto;
  order: 2;
  text-align: right; }

.current .status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.current .status .state {
  width: 300px;
  font-size: 36px;
  font-weight: 200;
  line-height: 1.2em;
  padding-top: 0.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.current .status .h {
  order: 1; }

.current .status .s {
  order: 2; }

.current .status .l {
  order: 3; }

.current .status .state .subtitle {
  order: 1;
  flex: 1;
  text-align: left; }

.current .status .state .value {
  order: 2;
  flex: 1;
  text-align: right; }

#picker {
  background-color: #222;
  border: none;
  order: 1; }

/* keyboard credit: http://codepen.io/kowlor/pen/MYOKRd */
.keyboard-wrap {
  order: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 100%;
  background-color: #111; }

.keyboard {
  width: 39.375rem;
  padding-right: 2.5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  order: 2; }

.keyboard .row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0.625rem; }

.keyboard .row i {
  color: #a28d81;
  background-color: #1d1615; }

.keyboard .row:nth-child(2) {
  -ms-transform: translateX(2.5%);
  -webkit-transform: translateX(2.5%);
  transform: translateX(2.5%); }

.keyboard .row:nth-child(3) {
  -ms-transform: translateX(7%);
  -webkit-transform: translateX(7%);
  transform: translateX(7%); }

.keyboard .row i {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.keyboard .row i b {
  background: #404048;
  color: #eee;
  border-radius: 0.5rem;
  padding: 0 0.3125rem;
  line-height: 0;
  margin-top: 0.3125rem; }

.keyboard i, .keyboard .space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.375rem;
  height: 3.0625rem;
  font-size: 1rem;
  line-height: 0;
  border: 0.125rem solid #70707e;
  position: relative;
  -webkit-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out; }

.keyboard i:hover, .keyboard .space:hover {
  border-color: #ddd;
  color: #ddd; }

.keyboard i:active, .keyboard i.is-active, .keyboard .space:active, .keyboard .space.is-active {
  border-color: #70707e;
  color: #70707e;
  box-shadow: 0 0 0.5625rem -0.125rem #70707e;
  -ms-transform: translateY(0.0625rem);
  -webkit-transform: translateY(0.0625rem);
  transform: translateY(0.0625rem); }

.keyboard i {
  font-style: normal;
  width: 3.0625rem; }

.keyboard i span, .keyboard i b {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.keyboard i span {
  text-transform: uppercase; }

.keyboard i b {
  font-size: 0.5625rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.keyboard .space {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 48.5%;
  margin-left: 27.5%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: static;
  color: #a28d81;
  background-color: #1d1615; }
